/**********************************
 * VARIABLES
 */
/**********************************
 * MIXIN
 */
/**********************************
 * COMMON
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  background-color: #eaeaea;
  color: #3c3c3c;
}

a {
  text-decoration: none;
  color: #3c3c3c;
}

ul {
  list-style: none;
}

.card {
  margin: 5px 50px 5px;
  padding: 20px;
  color: #3c3c3c;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

footer {
  margin-top: 50px;
}

.txt_title {
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 500;
}

.txt_subtitle {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
}

/**********************************
 * HOME
 */
/**********************************
 * POSTS
 */
main {
  display: flex;
  flex-direction: column;
}
main .title_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .title_bar a {
  margin-bottom: 10px;
}
main .title_bar .alert {
  margin-top: 20px;
}
main .post_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .post_item .post_actions {
  display: flex;
}
main .post_item .post_actions a, main .post_item .post_actions form {
  margin: 0 5px;
}
main .post_show .post_body {
  margin-top: 30px;
}
main .db_columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .db_columns .form-control {
  width: 60vw;
}
main .db_columns .btn {
  margin-bottom: 30px;
}