/**********************************
 * VARIABLES
 */
/**********************************
 * MIXIN
 */
/**********************************
 * COMMON
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #eaeaea;
  color: #3c3c3c;
}

a {
  text-decoration: none;
  color: #3c3c3c;
}

ul {
  list-style: none;
}

.card {
  margin: 15px 15px 30px;
  padding: 30px 50px;
  color: #3c3c3c;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.txt_product_grid {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

/**********************************
 * HOME
 */
/**********************************
 * POSTS
 */
main {
  display: flex;
  flex-direction: column;
}
main .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
main .card .actions {
  display: flex;
  justify-content: space-evenly;
}
main .card .actions a, main .card .actions form {
  margin: 0 5px;
}
main .title_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .db_columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .db_columns .form-control {
  width: 60vw;
}
main .db_columns .btn {
  margin-bottom: 30px;
}