/**********************************
 * COMMON
 */

// % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color: $white;
	color: $black;
}
a {
	text-decoration: none;
	color: $black;
}
ul {
	list-style: none;
}
.card {
	margin: 5px 50px 5px;
	padding: 20px;
	color: $black;
	border-radius: 5px;
	background-color: $realwhite;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navbar {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


// % HEADER % 


// % FOOTER % 
footer {
	margin-top: 50px;
}

// % TEXTS % 
.txt_title {
	font-size: 1.2em;
	line-height: 2em;
	font-weight: 500;
}
.txt_subtitle {
	font-size: 0.9em;
	// line-height: 2em;
	font-weight: 300;
	font-style: italic;
}
