/**********************************
 * POSTS
 */
main {
	@include flex-col;
	.title_bar {
		@include flex-col-cc;
		a {
			margin-bottom: 10px;
		}
		.alert {
			margin-top: 20px;
		}
	}
	.post_item {
		@include flex-row-cv;
		@include fx-row-between;
		.post_actions {
			@include flex-row;
			a, form {
				margin: 0 5px;
			}
		}	
	}
	.post_show {
		.post_body {
			margin-top: 30px;
		}	
	}
	.db_columns {
		@include flex-col-co;
		.form-control {
			width: 60vw;
		}
		.btn {
			margin-bottom: 30px;
		}
	}
}